
body{
font-family:Arial;
margin:0;
background:#1b1f24;
color:white;
}

header{
background:#111;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav{
display:flex;
gap:10px;
padding:10px;
background:#222;
overflow:auto;
}

button{
background:#ff7a00;
border:none;
padding:10px 15px;
color:white;
font-weight:bold;
border-radius:6px;
}

input,select{
display:block;
margin:10px 0;
padding:10px;
width:100%;
border-radius:5px;
border:none;
}

.card{
background:#222;
padding:30px;
max-width:320px;
margin:auto;
margin-top:100px;
border-radius:10px;
text-align:center;
}

.screen.hidden{display:none;}
.tab.hidden{display:none;}

.tab{
padding:20px;
}

.piece{
background:#2c3137;
padding:10px;
margin:10px 0;
border-radius:6px;
}
